*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  background-image: url(../img/background.jpg);
  background-size: 100vw 100vh;
  font-family: 'Fira Code', monospace;
  font-size: 10px;
}

@media (min-width: 450px)
{
  body
  {
    font-size: 15px;
  }
}

@media (min-width: 700px)
{
  body
  {
    font-size: 20px;
  }
}

@media (min-width: 1200px)
{
  body
  {
    font-size: 25px;
  }
}

@media (min-width: 2000px)
{
  body
  {
    font-size: 30px;
  }
}

header
{
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

@media (max-width: 500px)
{
  header
  {
    height: 60vh;
  }
}

/* Menu */

.menu
{
  background-color: whitesmoke;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.menu ul
{
  display: flex;
  justify-content: space-around;
}

.menu li
{
  font-style: bold;
  list-style: none;
}

.menu a
{
  color: black;
  display: block;
  font-size: 1em;
  padding: 10px 30px;
  text-decoration: none;
  transition: text-shadow 0.5s;
}

.menu a:hover, .menu a:active
{
  text-shadow: 0px 0px 5px rgb(200,0,0);
}

/* First View */

.name
{
  animation: ease 5s intro-name forwards;
}

@keyframes intro-name
{
  0%
  {
    transform: scale(0);
    opacity: 0;
  }
  100%
  {
    transform: scale(1);
    opacity: 1;
  }
}

.site-title
{
  color: whitesmoke;
  font-family: 'Caveat', cursive;
  font-size: 6em;
  text-align: center;
}

.site-subtitle
{
  color: whitesmoke;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.4em;
  font-style: italic;
  line-height: 1.5em;
  text-align: center;
}

.section-title
{
  color: whitesmoke;
  font-family: 'Press Start 2P', cursive;
  font-size: 2em;
  line-height: 2em;
  margin-bottom: 1em;
  text-align: center;
}

/* Projects Section */

.projects
{
  background-color: rgb(150,0,0);
  padding: 1em;
}

.projects .grid
{
  align-content: center;
  display: grid;
  gap: 2em;
  justify-content: center;
}
  
@media (min-width: 600px)
{
  .projects .grid
  {
    grid-template-columns: repeat(2, 12em);
  }
}
  
@media (min-width: 1050px) 
{
  .projects .grid
  {
    grid-template-columns: repeat(3, 12em);
  }
}

.flip-card
{
  height: 13.5em;
  perspective: 500px;
  width: 12em;
}

.card
{
  position: relative;
  transform-style: preserve-3d;
  transition: transform 2s;
  width: 12em;
}

.flip-card:hover .card
{
    transform: rotateY(180deg);
}

.card-front, .card-back
{
  backface-visibility: hidden;
  position: absolute;
}

.card-back
{
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  height: 12em;
  justify-content: center;
  text-align: center;
  transform: rotateY(180deg);
  transition: transform 2s, background-color 4s;
  width: 12em;
}

.flip-card:hover .card-back
{
  background-color: rgba(255, 255, 255, .6);
}

.card-back p
{
  font-size: 0.8em;
}

.projects figure
{
  text-align: center;
}

.img-projects
{
  height: 12em;
  width: 12em;
  object-fit: cover;
  object-position: left bottom;
  transition: transform 1s;
}

.img-rouded .img-projects
{
  border-radius: 50%;
}

.grid figcaption
{
  color: whitesmoke;
}

.card-back a
{
  color: rgb(150,0,0);
  text-decoration: none;
  transition: text-shadow 1s;
}

.card-back a:hover, .card-back a:active
{
  text-shadow: 5px 5px 5px black;
}

/* About Section */

.about
{
  background-color: rgb(200,0,0);
  padding: 1em;
  padding-left: 3em;
  padding-right: 3em;
}

.about figure
{
  float: right;
  margin-left: 1.5em;
  transition: 1s;
}

.about figure:hover
{
  transform: scale(1.2);
}

.about img
{
  border-radius: 50%;
  height: 12em;
  width: 12m;
}

.about p
{
  color: whitesmoke;
  margin-bottom: 1em;
  text-align: justify;
  text-indent: 1.5em;
}

/* Contact Section */

.contact
{
  background-color: rgb(150,0,0);
}

.contact .grid
{
  align-content: center;
  display: grid;
  gap: 4em;
  justify-content: center;
}

@media (min-width: 700px)
{
  .contact .grid
  {
    grid-template-columns: repeat(2, 200px);
  }
}

@media (min-width: 1200px)
{
  .contact .grid
  {
    grid-template-columns: repeat(4, 200px);
  }
}

.contact a
{
  color: whitesmoke;
  font-size: 8em;
  transition: text-shadow 1s;
}

.contact a:hover, .contact a:active
{
  text-decoration: none;
  text-shadow: 7px 7px 5px black;
}